.nodes text {
  fill: #000000;
  stroke: none;
  font-size: .6em;
  font-family: arial;
}

.node {
  border-radius: 100%;
  border-style: solid;
  border-color: #568dd5;
  border-width: 2px;
}

.links {
  stroke: #cccccc;
  stroke-opacity: .6;
}

.nodes:hover circle {
  fill: #0ac2d3;
}

.graph-svg-component {
    background-color: AliceBlue;
}

.entry-text {
	font-family: 'Oxygen', sans-serif;
	font-size: 170%;
	color: rgb(41, 41, 48);
	padding-left: 30%;
	padding-top: 1.2%;
	padding-bottom: 1.2%;
}

input[type=text] {
    padding: 4px 6px;
    margin: 14px 10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 100%;
    width: 30%;
    color: rgb(41, 41, 48);
    background-color: rgba(195, 195, 209, 0.705);
    border: 3px solid rgba(43, 58, 82, 0.692);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border-radius: 4px;
}

#tooltip {
    font-size: 10pt;
    font-weight: 900;
    fill: #000000;
    stroke: #ffffff;
    stroke-width: 0.25px;
}

/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
}

.nametext {
	font-size: 18;
	font-family: 'Oxygen', sans-serif;
}
