.node circle {
  stroke: #568dd5;
  stroke-width: 2px;
}

.nodes text {
  fill: #000000;
  stroke: none;
  font-size: .6em;
  font-family: arial;
}

.links {
  stroke: #cccccc;
  stroke-opacity: .6;
}

.nodes:hover circle {
  fill: #0ac2d3;
}

.graph-svg-component {
    background-color: AliceBlue;
}
