.chart div {
    padding: 3px;
    margin: 1px;
    color: white;
  }

  .entry-text {
    font-family: 'Oxygen', sans-serif;
    font-size: 170%;
    color: rgb(41, 41, 48);
    padding-left: 30%;
    padding-top: 1.2%;
    padding-bottom: 1.2%;
  }

  input[type=text] {
    padding: 4px 6px;
    margin: 14px 10px;
    font-family: 'Oxygen', sans-serif;
    font-size: 100%;
    width: 30%;
    color: rgb(41, 41, 48);
    background-color: rgba(195, 195, 209, 0.705);
    border: 3px solid rgba(43, 58, 82, 0.692);
    -webkit-transition: 0.2s;
    transition: 0.2s;
    outline: none;
    border-radius: 4px;
  }

  input[type=text]:focus {
    border: 3px solid rgba(63, 123, 219, 0.9)
}

  @keyframes lighten {
    from {filter: brightness(95%);}
    to {filter: brightness(110%);}
  }
  
  @keyframes darken {
    from {filter: brightness(110%);}
    to {filter: brightness(95%);}
  }

  .albumcover {
    animation: darken 0.2s forwards;
    border-radius: 100%;
    width: 20%;
    height: auto;
  }

  .albumcover:hover {
    animation: lighten 0.2s forwards;
  }
